.block-scale {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;

  transform: scale(1, 1);
  background-color: darkgoldenrod;

  transition: transform 500ms linear;
}

.scene-scale:hover .block-scale {
  transform: scale(-1, 1);
}

.block-rotate {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;

  transform: rotate(0);

  background-color: red;

  transition: transform 500ms linear;
}

.scene-rotate:hover .block-rotate {
  transform: rotate(180deg);
}

.block-skew {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;

  transform: skew(0deg, 0deg);

  background-color: palevioletred;

  transition: transform 500ms linear;
}

.scene-skew:hover .block-skew {
  transform: skew(30deg, 100deg);
}

/* 3D */
.scene-transform-origin {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;

  border: 2px black solid;
  background-color: rgba(150, 0, 34, 0.5);
}

.block-transform-origin {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  perspective-origin: 0 0;
  perspective: 500px;

  background-color: yellow;
  border: 2px black dashed;

  transition: transform 500ms linear;
}

.scene-transform-origin:hover .block-transform-origin {
  transform: rotateX(30deg);
}
