body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .block-up {
  display: inline-block;
} */

p {
    
  display: inline-block;
  background-color: blanchedalmond;
  margin: 10px;
  /* height: 100px; */
  text-align: center;
    vertical-align: middle;

}

.one {
  font-size: 20px;
}
.two {
    text-transform: capitalize;
  font-size: 30px;
'
}
.three {
  font-size: 40px;
}
