.header{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    right: 0;
    background-color: aquamarine;
}
.container{}
.header-body{}
.logo{}
.logo__img{}
.burger{}
.burger__middle-line{}
.header__menu{}
.header__list{}
.header__link{}