.social {
  display: flex;
  gap: 20px;
}

.social_item {
  width: 40px;
  height: 40px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid gray;
  fill: gray;
  transition: background-color 250ms linear;

  &:hover {
    border: 1px solid $accentColor;
    cursor: pointer;
    background-color: $accentColor;
    fill: $colorWhite;
  }
}

.social__link-footer {
  border: 1px solid white;
  fill: white;
  transition: background-color 250ms linear;

  &:hover {
    cursor: pointer;
    background-color: white;
    fill: $accentColor;
  }
}

